/* Estilos generales para el contenedor del menú */
.menu {
    background-color: #1e2a38;
    color: #f0f0f0; /* Texto claro para mayor contraste */
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto; /* Centrar el menú */


    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.menu h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #b0c4de; /* Tono claro azul-gris para el título */
}
/* Estilos para los botones del menú en forma horizontal */
.admin-options {
    display: flex;
    flex-direction: row; /* Los botones estarán en fila */
    justify-content: space-around; /* Distribuye los botones equitativamente */
    gap: 15px; /* Espacio entre los botones */
    padding: 30px;
}

.btn {
    background-color: #4a90e2; /* Usamos un tono azul medio */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
}

.btn:hover {
    background-color: #3a78c0; /* Un tono más oscuro al hacer hover */
}
/* Estilos para el SubMenu */

.btn:active {
    background-color: #2f5e99; /* Más oscuro aún cuando se hace clic */
}

.submenu {
    margin-top: 20px;
    padding: 10px;
    background-color: #3a4a58; /* Tono más oscuro de la paleta */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #f0f0f0;
}
.submenu h3 {
    font-size: 18px;
    color: #b0c4de; /* Tono claro para el texto del submenú */
}
