
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columnas de tamaño igual */
    grid-gap: 20px; /* Espacio entre los elementos */
    padding: 10px;
}

.grid-item {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
}

.grid-item img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
}





.grid-item button:hover {
    background-color: #0056b3;
}

.images-container {
    display: flex;
    justify-content: center;
    gap: 10px; /* Espacio entre las imágenes */
}

.images-container img {
    width: 48%;
     /* Para que ambas imágenes ocupen el 48% del ancho del contenedor */
    border-radius: 5px; /* Para redondear un poco las esquinas */
}


.see-more-button{
    display: flex;
    float: right;
}